if SHIELD_DETOX_LEFT

config DETOX
    default "Detox"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
    default y

endif

if SHIELD_DETOX_LEFT || SHIELD_DETOX_RIGHT

config ZMK_SPLIT
    default y

endif
